<div>
  <button ion-button icon-only class="add-chat-button">
    +
  </button>
  <button ion-button icon-only class="options-button">
    Options
  </button>
</div>

<div *ngFor="let chat of chats | async">
  <button ion-item class="chat">
    <img class="chat-picture" [src]="chat.picture">
    <div class="chat-info">
      <h2 class="chat-title">{{chat.title}}</h2>

      <span *ngIf="chat.lastMessage" class="last-message">
        <p *ngIf="chat.lastMessage.type === 'text'" class="last-message-content last-message-content-text">{{chat.lastMessage.content}}</p>
        <span class="last-message-timestamp">{{ chat.lastMessage.createdAt | amCalendar }}</span>
      </span>
    </div>
  </button>
  <div class="chat-options">
    <button ion-button color="danger" class="option option-remove" (click)="removeChat(chat)">Remove</button>
  </div>
</div>
